# Thư mục node_modules
node_modules/

# Biến môi trường
.env

# Log file
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Hệ điều hành
.DS_Store
Thumbs.db

# Thư mục build nếu có
dist/
build/

# IDE (tuỳ bạn)
.vscode/
.idea/
